* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.navbar {
    height: 80px;
    padding: 0px;
}

.navbar-brand {
    background-color: #2b2e31;
    height: 80px;
}

.navbar-brand div {
    font-family: 'Indie Flower', cursive;
    font-size: 30px;
    margin-bottom: 0px;
}

.navbar-brand p {
    font-size: small;
    margin-top: -10px;
}

.navbar img {
    height: 80px;
}

.jumbotron {
    height: 87vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 0px;
    margin-bottom: 0px;
    background-image: url("../img/logo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron .container {
    width: 700px;
}

.jumbotron h1 {
    font-size: 60px;
}

.jumbotron .container a {
    background-color: #73D3C0;
    padding: 10px 20px;
    border-radius: 30px;
    font-weight: bold;
}

.jumbotron .container p {
    color: gray;
}